<h1>Edit Classroom</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.classroom_path(@conn, :update, @classroom)) %>

<span><%= link "Back", to: Routes.classroom_path(@conn, :index) %></span>
