/* This file is for your main application css. */
@import "theme";
// @import '../node_modules/bootstrap/scss/bootstrap';
@import "../node_modules/bootstrap-v4-rtl/scss/bootstrap-rtl";
@import "../node_modules/nprogress/nprogress.css";
@import "modal";

html {
  --scrollbarBG: #3c4355;
  --thumbBG: #797979;
  --appBlue: #00a2ff;
}

table {
  line-height: 0.5em;
}

box-icon {
  color: white;
  background-color: $info;
}

main {
  font-size: 1.2em;
}

label {
  display: inline-block;
  margin-bottom: 0.1rem;
  font-weight: 700;
  font-size: medium;
}

.bold {
  font-weight: bold;
  font-size: large;
}

.list-active {
  border-bottom: 5px solid $primary;

}

.white {
  color: white !important;
}

.rtl {
  direction: rtl;
  text-align: right;
}

.ltr {
  direction: ltr;
  text-align: left;
}

.hidden {
  display: none;
}

.blueBorder {
  border: 2px solid $app-blue;
}

.border-bottom {
  border-bottom: 2px solid $primary !important;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: $app-blue;
  background-color: $info;
  border-color: #dee2e6 #dee2e6 #fff;
  color: white;
}

.list-group-item {
  padding: 0;
  border: none;
}


header {
  font-size: 1.4em;
  border-bottom: 3px solid $app-blue;
  margin-bottom: 0.5em;
}

.nav-link {
  padding: 0.1rem 0.1rem;
}

.nav-link img {
  width: auto;
  height: 30px;
}

.alert:empty {
  display: none;
}

.nav-item.active {
  border-bottom: 5px solid white;
}

.blue {
  color: #c2c2ea;
}

.page-item.active {
  background-color: #0f7864;
  // padding: 0.3em;
  padding-left: 0.6em;
  padding-right: 0.6em;
}



// .nav-item {
//   font-size: 1.7em;
//   font-weight: 700;
//   background-color: $dark;
//   margin: 4px;
// }

// .nav-item.active {
//   border-bottom: 6px solid $app-blue;
// }

// .nav-item:hover {
//   border-bottom: 6px solid $app-blue;
// }

.bg-dark {
  background-color: $body-bg !important;
}

.app-border {
  border: 5px solid $app-blue;
  padding-top: 3em;
  padding-bottom: 3em;
}

@media (max-width: 997px) {
  .navbar-brand img {
    width: 200px;
  }
}